<nav class="navbar navbar-expand-md navbar-dark bg-dark " style="padding: 0.5rem 1rem; background: #3f51b5; height: 80px" >
        <a  class="navbar-brand">Automation 2020 | Pro Testing</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="navbar-nav ml-auto" >
                <a href="/create" class="nav-item nav-link">Crear test</a>
                <a href="/results" class="nav-item nav-link">Consultar test</a>
                <a href="/" class="nav-item nav-link">Uniandes</a>
            </div>
        </div>
    </nav>
